<!--About me-->
<section id="about" class="clearfix">
    <!--Title-->
    <div class="title">
        <div>
            <h1>About me</h1>
            <h4>A small introduction about your self</h4>
        </div>
        <div class="titleArrow"></div>
    </div>
    <!--End title-->

    <!--Inner about-->
    <div id="innerAbout">
        <!--Introduction-->
        <div class="intro">
            <h1>My name is John Smith</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
        <!--End introduction-->

        <!--Resume-->
        <div id="resume" class=" clearfix">
            <!--Education-->
            <article id="education" class="columns_Two ">
                <h1 class="mainTitle clearfix">Education</h1>
                <!--Box-->
                <div class="box">
                    <div>
                        <h4>Bachelor degree &ndash; Mutation Media </h4>
                        <h6>2005-2013</h6>
                    </div>
                    <p>Ut enim ad minim veniam, quis nostrud exerc. Irure dolor in reprehend incididunt labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <!--End box-->

                <!--Box-->
                <div class="box">
                    <div>
                        <h4>Master degree &ndash; Mutation Media </h4>
                        <h6>2005-2013</h6>
                    </div>
                    <p>Ut enim ad minim veniam, quis nostrud exerc. Irure dolor in reprehend incididunt labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <!--End box-->
            </article>
            <!--End education-->

            <!--Experience-->
            <article id="experience" class="columns_Two nomarginRight">
                <h1 class="mainTitle clearfix">Experience</h1>
                <!--Educ-->
                <div class="box">
                    <div>
                        <h4>WebDesigner &ndash; Mutation Media </h4>
                        <h6>2005-2013</h6>
                    </div>
                    <p>Ut enim ad minim veniam, quis nostrud exerc. Irure dolor in reprehend incididunt labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <!--End educ-->

                <!--Box-->
                <div class="box">
                    <div>
                        <h4>WebDevelopper &ndash; Mutation Media </h4>
                        <h6>2005-2013</h6>
                    </div>
                    <p>Ut enim ad minim veniam, quis nostrud exerc. Irure dolor in reprehend incididunt labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <!--End box-->
            </article>
            <!--End experience-->
        </div>
        <!--End resume-->

        <article class="clearfix" id="services">
            <h1 class="mainTitle clearfix">What can i do</h1>
            <!--Services inner-->
            <div class="clearfix" id="servicesInner">
                <!--Service single-->
                <div class="columns_Three">
                    <!--Circle-->
                    <div class="circle">
                        <span class="icon"><img src="{{ asset('bundles/johanlopescore/images/ico1.png') }}" alt=""></span>
                    </div>
                    <!--Inner circle-->
                    <h2><span>Web design</span></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                     tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. </p>
                 </div>
                 <!--End service single-->

                 <!--Service single-->
                 <div class="columns_Three">
                    <!--Circle-->
                    <div class="circle">

                        <span class="icon"><img src="{{ asset('bundles/johanlopescore/images/ico2.png') }}" alt=""></span>

                    </div>
                    <!--Inner circle-->
                    <h2><span>Branding</span></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                     tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. </p>
                 </div>
                 <!--End service single-->

                 <!--Service single-->
                 <div class="columns_Three nomarginRight">
                    <!--Circle-->
                    <div class="circle">
                        <span class="icon"><img src="{{ asset('bundles/johanlopescore/images/ico3.png') }}" alt=""></span>
                    </div>
                    <!--Inner circle-->
                    <h2><span>Graphic design</span></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                     tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. </p>
                 </div>
                 <!--End service single-->
             </div>
             <!--End services inner-->
         </article>


         <!--Quote-->
         <article id="quote">
            <h1>Do you have a project and you want to work with me, feel free to drop me a line.</h1>
            <a href="#contact">Get in touch with me</a>
        </article>
        <!--End quote-->
    </div>
    <!--End inner about-->
</section>
<!--End about me-->
