<!--About me-->
<section id="about" class="clearfix">
    <!--Title-->
    <div class="title">
        <div>
            <h1>Mon profil</h1>
            <h4>Découvrez mon parcours et mes compétences ...</h4>
        </div>
        <div class="titleArrow"></div>
    </div>
    <!--End title-->

    <!--Inner about-->
    <div id="innerAbout">
        <!--Introduction-->
        <div class="intro">
            <p>Ayant débuté comme analyste-développeur PHP, je me suis ensuite orienté sur le framework Symfony sur lequel j’ai acquis une grande expertise. Mon implication au sein des projets qui m’ont été confiés m’a permis d’accéder à mon poste actuel de chef de projet. Aujourd’hui la qualité du travail que je réalise avec mon équipe et le contentement de mes clients sont mes plus grandes satisfactions ....</p>
        </div>
        <!--End introduction-->

        <!--Resume-->
        <div id="resume" class=" clearfix">
            <!--Experience-->
            <article id="experience">
                <h1 class="mainTitle clearfix">Expériences professionnelles</h1>
                <!--Educ-->
                <div class="box">
                    <div>
                        <h4>Chef de projet web</h4>
                        <h6>2011 à aujourd'hui / Elao - Villeurbanne (69)</h6>
                    </div>
                    <p>Réunions internes avec l’équipe de développement (Daily meeting), Relation client ou MOA (Arianespace, GDF, Afnic, Ateliermagique.com, Kozoom...), Chiffrages des projets, Planifications ressources/taches, Spécifications fonctionnelles et techniques (SFG, SFD, STG, STD...), PV de recette, Cahiers de recette, Manuels utilisateurs, Documents d’intégration et de déploiement, Rédaction de User Stories (Behat/Gherkin), Méthotologie Agile Scrum. Participation active à la gestion commerciale et administrative : bons de commande, suivi de facturation, relances règlements, contrats de prestation ...</p>
                </div>
                <!--End educ-->

                <!--Box-->
                <div class="box">
                    <div>
                        <h4>Analyste - Développeur Symfony</h4>
                        <h6>2009 à 2011 / Elao - Villeurbanne (69)</h6>
                    </div>
                    <p>Développement de sites internet et intranet sous Symfony 1 et 2 pour des clients tels que Seb, Kozoom, France Bénévolat, Fram, Atelier magique, Babolat, Wanimo, GDF, Arianespace, Nosbonsplatschezvous.com... Impliqué et fort de propositions auprès de ma direction et des clients, j’ai été Lead développeur sur de nombreux projets. Assistance de mon directeur aux réunions de mise au point technique et fonctionnelle.</p>
                </div>
                <!--End box-->

                <!--Box-->
                <div class="box">
                    <div>
                        <h4>Analyste - Développeur PHP</h4>
                        <h6>2007 à 2009 / Cap On Line - Buellas (01)</h6>
                    </div>
                    <p>Développement, au sein d’une équipe, de nombreux sites internet, catalogues en ligne, sites e-commerce, intranets de gestion... Utilisation des technologies PHP/MySQL, JavaScript, Ajax, SOAP... Maquettes graphique sous Photoshop et animations Flash. Développement d’une application client lourd avec l’Atelier de Génie Logiciel WINDEV 14.<br />
                    Réalisation des réunions d’étude du besoin et d’analyse fonctionnelle avec les clients et formations de ceux-ci à l’administration de leur site web ou application. Participation à la gestion commerciale : rédaction des devis et factures en collaboration avec mon directeur.</p>
                </div>
                <!--End box-->
            </article>
            <!--End experience-->

            <!--skills-->
            <article id="skills">
                <h1 class="mainTitle clearfix">Compétences informatiques</h1>
                <!--Box-->
                <div class="columns_Two">
                    <div class="box">
                        <h4>Gestion de projets :</h4> Appels d’offres, Cahiers de charges, Spécifications, Chiffrages, Relation clients, Méthodologie Agile , Planning, Affectation ressources, Facturation, PV de recette, Webmarketing, Formation<br />
                        <h4>Technologies :</h4> PHP 4 et 5, JavaScript, Apache, Twig, Cache HTTP, eZPublish, Git, SVN, Ruby on Rails, XML, Node.Js, Backbone, Angular, Silex<br />
                        <h4>Framework :</h4> Symfony 1 et 2, jQuery<br />
                        <h4>ORM :</h4> Doctrine 1 et 2, Propel
                    </div>
                </div>
                <!--End box-->

                <!--Box-->
                <div class="columns_Two nomarginRight">
                    <div class="box">
                        <h4>Tests fonctionnels & unitaires :</h4> Gherkin, Behat, PhpUnit<br />
                        <h4>SQBD / Moteur de recherche :</h4> MySQL, PostgreSQL, Redis, Memcache, MongoDB, Oracle, Sql Server, Solr, ElasticSearch<br />
                        <h4>Graphisme / Intégration :</h4> HTML5, CSS3, Photoshop, Bootstrap<br />
                        <h4>Bureautique :</h4> Microsoft Office, iWorks, Open Office<br />
                        <h4>Environnement :</h4> Mac OSX, Linux (Debian, Ubuntu, Centos, Red Hat...), Windows
                    </div>
                </div>
                <!--End box-->
            </article>
            <!--End skills-->

            <!--Education-->
            <article id="education" class="columns_Two ">
                <h1 class="mainTitle clearfix">Formations - Diplômes</h1>
                <!--Box-->
                <div class="box">
                    <div>
                        <h4>Licence Professionnelle METINET en alternance : Concepteur et gestionnaire de sites internet</h4>
                        <h6>2007-2008</h6>
                    </div>
                    <p>Cycle universitaire : IUT A de l’Université Claude Bernard Lyon1 à Bourg-en-Bresse (01)<br />
                    Cycle professionnel : Agence Web CAP ON LINE à Buellas (01)</p>
                </div>
                <!--End box-->

                <!--Box-->
                <div class="box">
                    <div>
                        <h4>Diplôme Universitaire Technologique d’Informatique</h4>
                        <h6>2005-2007</h6>
                    </div>
                    <p>IUT A de l’Université Claude Bernard Lyon1 à Bourg-en-Bresse (01)</p>
                </div>
                <!--End box-->

                <!--Box-->
                <div class="box">
                    <div>
                        <h4>Baccalauréat Science Technologique Industriel génie électronique</h4>
                        <h6>2005</h6>
                    </div>
                    <p>Mention Assez bien - Lycée Privé Saint-Marc à Nivolas-Vermelle (38)</p>
                </div>
                <!--End box-->
            </article>
            <!--End education-->

            <!--Lang -->
            <article id="langs" class="columns_Two nomarginRight">
                <h1 class="mainTitle clearfix">Langues</h1>
                <!--Box-->
                <div class="box">
                    <h4>Français :</h4>
                    <p>Langue maternelle</p>

                    <h4>Anglais :</h4>
                    <p>Anglais lu/parlé/écrit et informatique technique</p>
                </div>
                <!--End box-->
            </article>
            <!--End Lang -->

            <!--Hobbies -->
            <article id="hobbies" class="columns_Two nomarginRight">
                <h1 class="mainTitle clearfix">Loisirs et centres d’intérêts</h1>
                <!--Box-->
                <div class="box">
                    <p>VTT trial et de randonnée, Ski, Randonnées pédestres...</p>
                    <p>Créateur d’un réseau social destiné aux propriétaires d’animaux :<br /><a href="http://ww.animaux-rencontres.com" target="_blank">http://ww.animaux-rencontres.com</a></p>
                    <p>Créateur d’une place des marchés pour les services à la personne :<br /><a href="http://ww.servistreet.com" target="_blank">http://ww.servistreet.com</a></p>
                </div>
                <!--End box-->
            </article>
            <!--End Hobbies-->
        </div>
        <!--End resume-->

        <!--Quote-->
        <article id="quote">
            <h1>Mon profil vous intéresse ?&nbsp;&nbsp;&nbsp;Et si on se rencontrait !</h1>
            <a href="{{ asset('bundles/johanlopescore/files/johan-lopes.pdf') }}" target="_blank">Téléchargez mon CV (PDF - 119 Ko)</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#contact" class="contact">Contactez-moi</a>
        </article>
        <!--End quote-->
    </div>
    <!--End inner about-->
</section>
<!--End about me-->
