<!--Anota-->
<div id="anota">
    <div>
        <img src="{{ asset('/assets/images/johan-lopes.jpg') }}" alt="Johan LOPES" />
        <h1>Johan LOPES</h1>
        <h2>Actuellement : Fondateur & CEO de MyTrendyApp.com</h2>
        <h2>Auparavant : Chef de projet web - Expert PHP & Symfony2</h2>
    </div>
    <div class="arrAnota"></div>
</div>
<!--End anota-->
