<!--Anota-->
<div id="anota">
    <div>
        <img src="{{ asset('bundles/johanlopescore/images/johan-lopes.jpg') }}" alt="Johan LOPES" />
        <h1>Johan LOPES</h1>
        <h2>CHEF DE PROJET WEB - Expert PHP & Symfony 2</h2>
    </div>
    <div class="arrAnota"></div>
</div>
<!--End anota-->
