<!--Skills-->
<section id="skills" class="clearfix">
    <!--Title-->
    <div class="title">
        <div>
            <h1>My skills</h1>
            <h4>What i can do set of skills</h4>
        </div>
        <div class="titleArrow"></div>
    </div>
    <!--End title-->

    <!--Inner skills-->
    <div id="innerSkills" class="clearfix">
        <article id="skill">
            <h1 class="mainTitle clearfix">Skills</h1>
            <!--Skills holder-->
            <div id="skillsHolder">
                <!--Skill-->
                <div class="skillBar">
                    <div class="skillbarHolder">
                        <div class="skillbarTitle">Web design</div>
                        <div class="percentage percent90"></div>
                    </div>
                </div>
                <!--End skill-->

                <!--Skill-->
                <div class="skillBar">
                    <div class="skillbarHolder">
                        <div class="skillbarTitle">wordpress</div>
                        <div class="percentage percent50"></div>
                    </div>
                </div>
                <!--End skill-->


                <!--Skill-->
                <div class="skillBar">
                    <div class="skillbarHolder">
                        <div class="skillbarTitle">jquery</div>
                        <div class="percentage percent65"></div>
                    </div>
                </div>
                <!--End skill-->

                <!--Skill-->
                <div class="skillBar">
                    <div class="skillbarHolder">
                        <div class="skillbarTitle">html/css</div>
                        <div class="percentage percent90"></div>
                    </div>
                </div>
                <!--End skill-->
            </div>
            <!--End skills holder-->
        </article>


        <!--Testimonials-->
        <article id="testimonials">
            <h1 class="mainTitle clearfix">Testimonials</h1>
            <div class="testimoniaContainer">

                <!--Testi-->
                <div class="testi">
                    <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </blockquote>
                    <h3>John Doe / <span>Interactive designer</span></h3>
                </div>
                <!--End testi-->


                <!--Testi-->
                <div class="testi">
                    <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </blockquote>
                    <h3>Jenny Doe / <span>Motion designer</span></h3>
                </div>
                <!--End testi-->

                <!--Testi-->
                <div class="testi">
                    <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </blockquote>
                    <h3>Albert Anderson / <span>Web developer</span></h3>
                </div>
                <!--End testi-->
            </div>
        </article>
        <!--End testimonials -->
    </div>
    <!--Inner skills-->
</section>
<!--End skills-->
