<!--Anota-->
<div id="anota">
    <div>
        <img src="{{ asset('/assets/images/johan-lopes.jpg') }}" alt="Johan LOPES" />
        <h1>Johan LOPES</h1>
        <h2>Fondateur & CEO de MyTrendyApp.com</h2>
        <h3>Chef de projet web | Développeur web | Expert Php & Symfony</h3>
    </div>
    <div class="arrAnota"></div>
</div>
<!--End anota-->
