<!--Contact-->
<section id="contact" class="clearfix">
    <!--Title-->
    <div class="title">
        <div>
            <h1>Contactez-moi</h1>
            <h4>Vous avez un projet, une idée, une opportunité professionnelle ? Et si on faisait connaissance ...</h4>
        </div>
        <div class="titleArrow"></div>
    </div>
    <!--End title-->

    <!--Inner contact-->
    <div id="innerContact" class="clearfix">
        <!--Map section-->
        <div id="mapHolder">
            <div id="map"></div>
        </div>
        <!--End map section-->


        <!-- Contact form -->
        <div id="contactForm">
            {{ render(controller('App\\Controller\\DefaultController::contactForm')) }}
        </div>
        <!-- End contact form -->


        <!--Contact information-->
        <div id="info">
            <h1 class="mainTitle">Informations personnelles</h1>

            <!--Personal info-->
            <div class="pInfo">
                <div class="pinfoInner">
                    <b>Prénom / Nom</b> : Johan LOPES<br>
                    <b>E-mail</b> : <a href="mailto:lopes.johan@gmail.com">lopes.johan@gmail.com</a><br>
                    <b>Adresse</b> : 90 rue Johnny Hallyday 38230 Charvieu Chavagneux<br>
                    Permis B - Véhicule personnel
                </div>
            </div>
            <!--End personal info-->

        </div>
        <!--End contact information-->

        <div id="social">
            <h1 class="mainTitle">Mes réseaux sociaux</h1>
            <div class="socialInner">
                <p><i class="icon-linkedin-1"></i> LinkedIn : <a href="http://fr.linkedin.com/in/lopesjohan" target="_blank" title="LinkedIn">http://fr.linkedin.com/in/lopesjohan</a></p>
                <p><i class="icon-twitter-1"></i> Twitter : <a href="http://twitter.com/johan_lopes" target="_blank" title="Twitter">http://twitter.com/johan_lopes</a></p>
                <p><i class="icon-facebook-1"></i> Facebook : <a href="http://www.facebook.com/lopes.johan" target="_blank" title="Facebook">http://www.facebook.com/lopes.johan</a></p>
                <p><i class="icon-github-circled-1"></i> Github : <a href="http://github.com/JohanLopes" target="_blank" title="GitHub">http://github.com/JohanLopes</a></p>
            </div>
        </div>

    </div>
    <!--Inner contact-->
</section>
<!--End contact-->
