<!DOCTYPE HTML>
<html>
    <head>
        <meta name="google-site-verification" content="RB-qk2SStZT-7wa6QJCfZK1KiqOD20ihyfKlLuwJdTI" />
        <meta name="y_key" content="e0a60d55a1083b73" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="Johan LOPES, Chef de projet web, Développeur web, Expert Symfony2 à Lyon. Consultez mes réalisations, mes compétences, mon cv..." />
        <meta name="keywords" content="johan, lopes, symfony2, développeur, entrepreneuriat, web, portfolio, freelance, auto entrepreneur, lyon, Rhône Alpes, symfony, doctrine, php, mysql, jquery, site, internet, réalisation, compétence, cv, iphone, ipad, apple, javascript, ajax, css, xhtml, w3c, design, intégration, ergonomie, accessibilité, isère, ain, ardeche, drome" />
        <meta name="language" content="fr" />
        <meta name="robots" content="index, follow" />
        <meta name="author" content="Johan LOPES" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <title>{% block title %}Johan LOPES - Chef de projet Web - Expert Symfony2 - Lyon{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,800,700,400italic|PT+Serif:400,400italic"/>

            <!--[if lt IE 9]>
                <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->

            <!--[if lt IE 8]>
                <style>
                /* For IE < 8 (trigger hasLayout) */
                .clearfix {
                    zoom:1;
                }
                </style>
            <![endif]-->
        {% endblock stylesheets %}
    </head>

    <body>
        <!--Wrapper-->
        <div id="wrapper">
            {% include 'JohanlopesCoreBundle::header.html.twig' %}

            <!--Main content-->
            <div id="mainContent" class="clearfix">
                {% include 'JohanlopesCoreBundle::slider.html.twig' %}

                <!--Inner Content-->
                <div id="innerContent" class="clearfix">
                    {% block content %}{% endblock content %}

                    {% include 'JohanlopesCoreBundle::footer.html.twig' %}
                </div>
                <!--End inner Content-->
            </div>
            <!--End main content-->
        </div>
        <!--End wrapper-->

        <!--Javascript-->
        {% block javascripts %}
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLNN4pca2wAqRLVD9YGu-aoD92COaGB4E"></script>
            <script type="text/javascript" src="{{ asset('assets/js/script.js') }}"></script>

            <!-- Google analytics -->
            <script type="text/javascript">

              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-13192250-3']);
              _gaq.push(['_trackPageview']);

              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();

            </script>
            <!-- End google analytics -->

        {% endblock javascripts %}
    </body>
</html>
