<!DOCTYPE HTML>
<html>
    <head>
        <meta name="google-site-verification" content="RB-qk2SStZT-7wa6QJCfZK1KiqOD20ihyfKlLuwJdTI" />
        <meta name="y_key" content="e0a60d55a1083b73" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="Portfolio de Johan LOPES, Chef de projet web, Développeur web, Expert Symfony / Doctrine et auto entrepreneur à Lyon. Consultez mes réalisations, mes compétences, mon cv..." />
        <meta name="keywords" content="johan, lopes, développeur, web, portfolio, freelance, auto entrepreneur, lyon, symfony, doctrine, php, mysql, jquery, site, internet, creative nao, réalisation, compétence, cv, iphone, ipad, apple, javascript, ajax, css, xhtml, w3c, design, intégration, ergonomie, accessibilité, rhone-alpes, rhone alpes, rhone, isère, ain, ardeche, drome" />
        <meta name="language" content="fr" />
        <meta name="robots" content="index, follow" />
        <meta name="author" content="Johan LOPES" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <title>{% block title %}Johan LOPES - Chef de projet Web - Expert Symfony - Lyon{% endblock %}</title>

        {% block stylesheets %}
            {% stylesheets
                '@JohanlopesCoreBundle/Resources/public/css/main.css'
                '@JohanlopesCoreBundle/Resources/public/fancybox/jquery.fancybox-1.3.4.css'
                '@JohanlopesCoreBundle/Resources/public/css/flexslider.css'
                '@JohanlopesCoreBundle/Resources/public/css/fontello.css'
                output='css/main.css'
                filter='yui_css' %}
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all" />
            {% endstylesheets %}

            <!--[if IE 7]>
                <link rel="stylesheet" href="{{ asset('bundles/johanlopescore/css/fontello-ie7.css') }}">
            <![endif]-->
            <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,800,700,400italic|PT+Serif:400,400italic"/>

            <!--[if lt IE 9]>
                <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->

            <!--[if lt IE 8]>
                <style>
                /* For IE < 8 (trigger hasLayout) */
                .clearfix {
                    zoom:1;
                }
                </style>
            <![endif]-->
        {% endblock stylesheets %}
    </head>

    <body>
        <!--Wrapper-->
        <div id="wrapper">
            {% include 'JohanlopesCoreBundle::header.html.twig' %}

            <!--Main content-->
            <div id="mainContent" class="clearfix">
                {% include 'JohanlopesCoreBundle::slider.html.twig' %}

                <!--Inner Content-->
                <div id="innerContent" class="clearfix">
                    {% block content %}{% endblock content %}

                    {% include 'JohanlopesCoreBundle::footer.html.twig' %}
                </div>
                <!--End inner Content-->
            </div>
            <!--End main content-->
        </div>
        <!--End wrapper-->

        <!--Javascript-->
        {% block javascripts %}
            <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

            {% javascripts
                '@JohanlopesCoreBundle/Resources/public/js/jquery-1.9.1.min.js'
                '@JohanlopesCoreBundle/Resources/public/js/jquery-migrate-1.2.1.js'
                '@JohanlopesCoreBundle/Resources/public/js/jquery.quicksand.js'
                '@JohanlopesCoreBundle/Resources/public/js/jquery.easing.1.3.js'
                '@JohanlopesCoreBundle/Resources/public/js/jquery.flexslider.js'
                '@JohanlopesCoreBundle/Resources/public/js/jquery.fancybox-1.3.4.js'
                '@JohanlopesCoreBundle/Resources/public/js/jquery.mousewheel-3.0.4.pack.js'
                '@JohanlopesCoreBundle/Resources/public/js/slides.min.jquery.js'
                '@JohanlopesCoreBundle/Resources/public/js/jquery.scrollTo-min.js'
                '@JohanlopesCoreBundle/Resources/public/js/waypoints.js'
                '@JohanlopesCoreBundle/Resources/public/js/jquery.tweet.js'
                '@JohanlopesCoreBundle/Resources/public/js/jquery.gmap.min.js'
                '@JohanlopesCoreBundle/Resources/public/js/script.js'
                output='js/main.js'
                filter='yui_js' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}

            <!-- Google analytics -->
            <script type="text/javascript">

              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-13192250-3']);
              _gaq.push(['_trackPageview']);

              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();

            </script>
            <!-- End google analytics -->

        {% endblock javascripts %}
    </body>
</html>
