<!--Footer-->
<section id="footer">
    <!--Twitter feed-->

    <div id="twitter">
        <div class="arrowFeed"></div>
        <!--Inner twitter-->
        <div id="innerTwitter">
            <div class="icon-twitter-bird-footer"></div>
        </div>
        <!--End inner twitter-->
    </div>

    <!--End twitter feed-->
    <div class="innerFooter">
        <p>&copy; 2013. Clean All Rights Reserved.</p>

        <!--Socials footer-->
        <ul id="socialsFooter">
            <li><a href="#"><i class="icon-twitter-bird"></i></a></li>
            <li><a href="#"><i class="icon-vimeo"></i></a></li>
            <li><a href="#"><i class="icon-instagram-1"></i></a></li>
            <li><a href="#"><i class="icon-facebook"></i></a></li>
            <li><a href="#"><i class="icon-vimeo"></i></a></li>
            <li><a href="#"><i class="icon-linkedin"></i></a></li>
            <li><a href="#"><i class="icon-picasa"></i></a></li>
        </ul>
        <!--End socials footer-->
    </div>
</section>
<!--End footer -->
