<!--Footer-->
<section id="footer">
    <!--Twitter feed-->

    <div id="twitter">
        <div class="arrowFeed"></div>
        <!--Inner twitter-->
        <div id="innerTwitter">
            <div class="icon-twitter-bird-footer"></div>
        </div>
        <!--End inner twitter-->
    </div>

    <!--End twitter feed-->
    <div class="innerFooter">
        <p>Tous droits réservés - &copy; Copyright 2009 / {{ 'now' | date('Y') }}</p>

        <!--Socials footer-->
        <ul id="socialsFooter">
            <li><a href="http://fr.viadeo.com/fr/profile/johan.lopes1" target="_blank" title="Viadeo"><i class="icon-viadeo"></i></a></li>
            <li><a href="http://fr.linkedin.com/in/lopesjohan" target="_blank" title="LinkedIn"><i class="icon-linkedin-1"></i></a></li>
            <li><a href="http://twitter.com/johan_lopes" target="_blank" title="Twitter"><i class="icon-twitter-1"></i></a></li>
            <li><a href="http://www.facebook.com/lopes.johan" target="_blank" title="Facebook"><i class="icon-facebook-1"></i></a></li>
            <li><a href="http://github.com/JohanLopes" target="_blank" title="GitHub"><i class="icon-github-circled-1"></i></a></li>
        </ul>
        <!--End socials footer-->
    </div>
</section>
<!--End footer -->
