<!--Main header-->
<section id="header">
    <div id="innerHeader">
        <!--Header-->
        <header class="clearfix">
            <!--Logo-->
            <div id="logo">
                <h1><a href="#wrapper">Clean <span>V-card</span></a></h1>
            </div>
            <!--End logo-->

            <!--Navigation-->
            <div id="navigation" class="clearfix">

                <nav id="mainNav">
                    <ul id="navi">
                        <li><a href="#about">About</a></li>
                        <li><a href="#skills">Skills</a></li>
                        <li><a href="#portfolio">Portfolio</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <!--End navigation-->


            <!--Socials-->
            <ul id="socials">
                <li><a href="#" title="Viadeo"><i class="icon-viadeo"></i></a></li>
                <li><a href="#" title="LinkedIn"><i class="icon-linkedin-1"></i></a></li>
                <li><a href="#" title="Twitter"><i class="icon-twitter-1"></i></a></li>
                <li><a href="#" title="Google +"><i class="icon-gplus-1"></i></a></li>
                <li><a href="#" title="Facebook"><i class="icon-facebook-1"></i></a></li>
                <li><a href="#" title="GitHub"><i class="icon-github-circled-1"></i></a></li>
                <li><a href="#" title="StackOverflow"><i class="icon-stackoverflow"></i></a></li>
                <li><a href="#" title="E-mail"><i class="icon-gmail"></i></a></li>
            </ul>
            <!--End socials-->
        </header>
        <!--End header-->
    </div>
    <!--End inner header-->
</section>
<!--End main header-->
