<!--Main header-->
<section id="header">
    <div id="innerHeader">
        <!--Header-->
        <header class="clearfix">
            <!--Logo-->
            <div id="logo">
                <h1><a href="#wrapper">Johan <span>Lopes</span></a></h1>
            </div>
            <!--End logo-->

            <!--Navigation-->
            <div id="navigation" class="clearfix">

                <nav id="mainNav">
                    <ul id="navi">
                        <li><a href="#about">Mon profil</a></li>
                        <li><a href="#portfolio">Mes réalisations</a></li>
                        <li><a href="#contact">Contactez-moi</a></li>
                    </ul>
                </nav>
            </div>
            <!--End navigation-->

            <!--Socials-->
            <ul id="socials">
                <li><a href="http://fr.viadeo.com/fr/profile/johan.lopes1" target="_blank" title="Viadeo"><i class="icon-viadeo"></i></a></li>
                <li><a href="http://fr.linkedin.com/in/lopesjohan" target="_blank" title="LinkedIn"><i class="icon-linkedin-1"></i></a></li>
                <li><a href="http://twitter.com/johan_lopes" target="_blank" title="Twitter"><i class="icon-twitter-1"></i></a></li>
                <li><a href="http://plus.google.com/102081484632369700589" target="_blank" title="Google +"><i class="icon-gplus-1"></i></a></li>
                <li><a href="http://www.facebook.com/lopes.johan" target="_blank" title="Facebook"><i class="icon-facebook-1"></i></a></li>
                <li><a href="http://github.com/JohanLopes" target="_blank" title="GitHub"><i class="icon-github-circled-1"></i></a></li>
                <li><a href="http://stackoverflow.com/users/2091209" target="_blank" title="StackOverflow"><i class="icon-stackoverflow"></i></a></li>
                <li><a href="mailto:lopes.johan@gmail.com" target="_blank" title="E-mail"><i class="icon-gmail"></i></a></li>
            </ul>
            <!--End socials-->
        </header>
        <!--End header-->
    </div>
    <!--End inner header-->
</section>
<!--End main header-->
