<!--Slider-->
<div id="slider">
    <div id="slideShow" class="flexslider">
        <ul class="slides">
            <li><img src="images/sliderImages/slide1.jpg" alt="" /></li>
            <li><img src="images/sliderImages/slide2.jpg" alt="" /></li>
        </ul>
    </div>
</div>
<!--End slider-->
