<!--Slider-->
<div id="slider">
    <div id="slideShow" class="flexslider">
        <ul class="slides">
            <li><img src="{{ asset('bundles/johanlopescore/images/sliderImages/slide4.jpg') }}" alt="" /></li>
            <li><img src="{{ asset('bundles/johanlopescore/images/sliderImages/slide3.jpg') }}" alt="" /></li>
            <li><img src="{{ asset('bundles/johanlopescore/images/sliderImages/slide5.jpg') }}" alt="" /></li>
            <li><img src="{{ asset('bundles/johanlopescore/images/sliderImages/slide9.jpg') }}" alt="" /></li>
        </ul>
    </div>
</div>
<!--End slider-->
