<!--Slider-->
<div id="slider">
    <ul class="jc-slider">
        <li class="jc-animation"><img src="{{ asset('/assets/images/sliderImages/slide4.jpg') }}" alt="" /></li>
        <li class="jc-animation"><img src="{{ asset('/assets/images/sliderImages/slide3.jpg') }}" alt="" /></li>
        <li class="jc-animation"><img src="{{ asset('/assets/images/sliderImages/slide5.jpg') }}" alt="" /></li>
        <li class="jc-animation"><img src="{{ asset('/assets/images/sliderImages/slide9.jpg') }}" alt="" /></li>
    </ul>
</div>
<!--End slider-->
