<h2>Votre demande a bien été envoyée, <br />vous recevrez une réponse dans quelques jours</h2>
<p>Je vous remercie de l'interêt que vous portez à mon profil, <br />n'hésitez pas à me contacter aussi via mon profil LinkedIn : <br /></p>
<ul>
    <li><i class="icon-linkedin-1"></i> <a href="http://fr.linkedin.com/in/lopesjohan" target="_blank" title="LinkedIn">http://fr.linkedin.com/in/lopesjohan</a></li>
</ul>
<h3>Merci !</h3>